<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Notes Analyzer</div>
    <div class="panel-body">
      <div class="row">
    <div ng-controller="HomeCtrl as homeCtrl" >
		
       <div class="center-form ">
     
        <h2 class="text-center">Note Analyzer</h2>
        <div  > <input type="text" id="noteAnalyzer" ng-model="homeCtrl.inputAddress"/> 
			<button type="button" id="addRow" class="btn btn-primary" ng-click="noteAnalyzed()">Add Notes</button>
            </div></div></div>
        
        </div>
       
    </div>
    
  </div>
</div>
