<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Notes Dashboard</div>
    <div class="panel-body">
      <div class="row">
        </div>
        <div >
        <div style="padding-left: 5%;width:50%;float:left" >
			<input type="text" id="noteAnalyzer" ng-model="inputAddress"/>  <button type="button" id="addRow" class="btn btn-primary" ng-click="addRow()">Analyze Note</button>
		</div>
         <div style="float:right;width:50%;padding-left: 15%">
          
          <input type="text" id="uploadNotes" />
            <a class="btn btn-primary" href="#">Upload Notes »</a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div>
		
		<div id="serviceGrid" 
		ui-grid-move-columns 
		ui-grid-selection
		ui-grid-resize-columns
		ui-grid-pinning
		ui-grid-exporter 
		ui-grid-auto-resize
		ui-grid-edit
        
		ui-grid="vm.serviceGrid"></div>
	</div>
           <!-- ui-grid-pagination -->
            </div>

      </div>
    </div>
    
  </div>
</div>
</div>