<div class="container" >
	<div class="panel panel-default">
		<div class="panel-heading">Note Details Form</div>
		<div class="panel-body">

<div class="container noteDetailContainer">

		
		<form id="noteDetailForm" method="post" class="form-horizontal" ng-submit="updateNote()">
		 <input type="button" class="btn btn-info openall" value ="Open all" /> <input type="button" class="btn btn-info closeall" value ="Close all"/> 
			<hr>
		<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="noteDetailClass panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Note Detail</a>
            </h4>
        </div>
        
        <div id="panel1" class="panel-collapse collapse in">
            <div class="panel-body">
                                  <div class="form-group">
                            <label class="col-lg-2 control-label">Property Address</label>
                            <div class="col-lg-3">
                              <span>testing, 1234</span>
                            </div>
                             <label class="col-lg-2 control-label requiredField">Original Balance</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="originalBalance" readonly ng-model=""/>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Original Balance. "></span>
                            </div>
                        </div>
                       
						 <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Interest Rate</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="rate" ng-model=""  placeholder="Annual Interest Rate" />
                             <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Annual Interest Rate"></span>
                            </div>
                           <label class="col-lg-2 control-label requiredField">Monthly Payment</label>
                            <div class="col-lg-3">
                            <input type="text" class="form-control icon-text" name="payment" ng-model=""  placeholder="Monthly Payment" />
                              <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Monthly Payment"></span>
                            </div> 
                        </div>
						
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Remaning Principal</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="remainingPrincipal" placeholder="Remaning Principal" ng-model="" />
								<span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Remaning Principal"></span>
                            </div>
                            <label class="col-lg-2 control-label requiredField">Note Price</label>
                             <div class="col-lg-3">
                               <input type="text" class="form-control icon-text" name="notePrice" placeholder="Note Principal" ng-model="" />
								<span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Note Price"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Original Property Value</label>
                            <div class="col-lg-3">
                                 <input type="text" class="form-control icon-text" name="originalPropertyValue" placeholder="Note Principal" ng-model="" />
								<span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Original Property Value"></span>
                            </div>
                             <label class="col-lg-2 control-label requiredField">Original LTV </label>
                            <div class="col-lg-3">
                                  <input type="text" class="form-control icon-text" name="originalLTV" placeholder="Original LTV" ng-model="" />
								<span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Original LTV "></span>
                            </div>
                        </div>
                           
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Effective LTV</label>
                            <div class="col-lg-3">
                                  <input type="text" class="form-control icon-text" name="effectiveLTV" placeholder="Effective LTV (with orig prop. value)" ng-model="" />
								<span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Effective LTV (with orig prop. value)"></span>
                            </div>
                           <label class="col-lg-2 control-label requiredField">Current Appraised Prop. Value</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="currentAppraisedPropValue" placeholder="Current Appraised Prop. Value" ng-model=""/>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Current Appraised Prop. Value"></span>
                            </div>
                        </div>
                          
                       
                          
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Current Effective LTV</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="pdiPayment" placeholder="Enter payment and interest" ng-model="noteInputFormModel.pdiPayment" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter payment and interest"></span>
                            </div>
                           <label class="col-lg-2 control-label requiredField">Effective Interest rate</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="effectiveInterestRate"  placeholder="Effective Interest rate" ng-model=""/>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Effective Interest rate"></span>
                            </div>
                        </div>
                          
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Current Effective LTV</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="pdiPayment" placeholder="Enter payment and interest" ng-model="noteInputFormModel.pdiPayment" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter payment and interest"></span>
                            </div>
                           <label class="col-lg-2 control-label requiredField">Effective Interest rate</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="effectiveInterestRate"  placeholder="Effective Interest rate" ng-model=""/>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Effective Interest rate"></span>
                            </div>
                        </div>
                  
                    
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">ROI</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="roi" placeholder="return on investment" ng-model="" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Return on investment"></span>
                            </div>
                           <label class="col-lg-2 control-label requiredField">Performing</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="performing"  placeholder="Performing" ng-model=""/>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Effective Interest rate"></span>
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Late Payment</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control icon-text" name="LatePaymentCount" placeholder="Number of times Late payment" ng-model="" />
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Number of times Late payment"></span>
                            </div>
                           
                        </div>
                  
                  
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel2">Property Detail</a>
            </h4>
        </div>
        <div id="panel2" class="panel-collapse collapse">
            <div class="panel-body">
                                  <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Picture</label>
                            <div class="col-lg-3">
                               <span>Get the Image</span>
                            </div>
                             <label class="col-lg-2 control-label requiredField">Last sold Price</label>
                            <div class="col-lg-3">
                               <span>Last sold Price</span>

                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Last sold Price "></span>
                            </div>
                        </div>
                       
						 <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Zip Code</label>
                            <div class="col-lg-3">
                                   <span>Last sold Date</span>
                             <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter zip code"></span>
                            </div>
                           <label class="col-lg-2 control-label requiredField">LOT SF</label>
                            <div class="col-lg-3">
                                   <span>LOT SF</span><span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Select city"></span>
                            </div> 
                        </div>
						
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Building SF</label>
                            <div class="col-lg-3">
                               <span>BUILIDING SF</span>
								<span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Building sf"></span>
                            </div>
                            <label class="col-lg-2 control-label requiredField">Property taxes/year</label>
                             <div class="col-lg-3">
                                 <span>Property Tax/year</span>
                                </select><span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="property tax per year"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Bed/Bath</label>
                            <div class="col-lg-3">
                              <span>bed/bath</span>
                               <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Bed and bathroom"></span>
                            </div>
                             <label class="col-lg-2 control-label requiredField">Property Type</label>
                            <div class="col-lg-3">
                               <span>tetsing property type</span>
                              <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Bed and bathroom"></span>
                            </div>
                        </div>
                          
                        <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">HOA fee</label>
                            <div class="col-lg-3">
                             <span>HOA FEE</span>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Hoa Fee"></span>
                            </div>
                        </div>
                       
                    
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel3">Demographic Data</a>
            </h4>
        </div>
        <div id="panel3" class="panel-collapse collapse">
            <div class="panel-body">
                                   <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Schools score</label>
                            <div class="col-lg-3">
                              <span>school rate</</span><span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="There are 3 types of notes: performing, sub-performing and non-performing"></span>
                            </div>
                             <label class="col-lg-2 control-label requiredField">Crime Rate</label>
                            <div class="col-lg-3">
                               <span>crime rate</span>
                                <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Original term depends upon the note type selection. "></span>
                            </div>
                        </div>
                       
						 <div class="form-group">
                            <label class="col-lg-2 control-label requiredField">Foreclosure Code</label>
                            <div class="col-lg-3">
                                <span>foreclosuere rate</span>
                             <span class="glyphicon glyphicon-info-sign tooltip-color icon-img" tooltip-placement="top" uib-tooltip="Enter zip code"></span>
                            </div>
                        </div>
						
                    </div>
        </div>
    </div>
</div>
                  <div class="panel-body">
                       <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-2">
                                <button type="submit" class="btn btn-lg btn-success" id="updateNoteBtn" name="createNote" >Update Note</button>
                                <button class="btn btn-lg btn-info" ng-click="Cancel()">Cancel</button>
                            </div>
                        </div>
                   
                    </div>
            </form>        
</div>
</div></div></div>
<script type="text/javascript">
$(document).ready(function() {
	var $active = $('#accordion .panel-collapse.in').prev().addClass('active');
	$active.find('a').append('<span class="glyphicon glyphicon-minus pull-right"></span>');
	$('#accordion .panel-heading').not($active).find('a').prepend('<span class="glyphicon glyphicon-plus pull-right"></span>');
	$('#accordion').on('show.bs.collapse', function (e)
	{
	    $('#accordion .panel-heading.active').removeClass('active').find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
	    $(e.target).prev().addClass('active').find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
	});
	$('#accordion').on('hide.bs.collapse', function (e)
	{
	    $(e.target).prev().removeClass('active').find('.glyphicon').removeClass('glyphicon-minus').addClass('glyphicon-plus');
	});
	    if ($('div').filter(':not(in)')) {
	        $('.panel-title a').addClass('active');
	    }
    // Generate a simple captcha
    function randomNumber(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    };
    $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

    $('#noteDetailForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
        	zipCode: {
        		message: 'The zip code is not valid',
                validators: {
                    notEmpty: {
                        message: 'The zip code is required and cannot be empty'
                    },
                    zipCode: {
                        country: 'US',
                        message: 'The value is not valid %s Zip Code'                       
                      }
                    },
               },
            lastName: {
                group: '.col-lg-4',
                validators: {
                    notEmpty: {
                        message: 'The last name is required and cannot be empty'
                    }
                }
            },
            username: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: 'The username is required and cannot be empty'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'The username must be more than 6 and less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'The username can only consist of alphabetical, number, dot and underscore'
                    },
                    remote: {
                        type: 'POST',
                        url: 'remote.php',
                        message: 'The username is not available'
                    },
                    different: {
                        field: 'password,confirmPassword',
                        message: 'The username and password cannot be the same as each other'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and cannot be empty'
                    },
                    identical: {
                        field: 'confirmPassword',
                        message: 'The password and its confirm are not the same'
                    },
                    different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    }
                }
            },
            confirmPassword: {
                validators: {
                    notEmpty: {
                        message: 'The confirm password is required and cannot be empty'
                    },
                    identical: {
                        field: 'password',
                        message: 'The password and its confirm are not the same'
                    },
                    different: {
                        field: 'username',
                        message: 'The password cannot be the same as username'
                    }
                }
            },
            noteDate: {
                validators: {
                     notEmpty: {
                        message: 'The note date field cannot be empty'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The note date is not in valid format'
                    }
                }
            },
            noteType: {
                validators: {
                    notEmpty: {
                        message: 'The note type is required and can\'t be empty.'
                    }
                }
            },
            propertyType: {
                validators: {
                    notEmpty: {
                        message: 'The property type is required and can\'t be empty.'
                    }
                }
            },
            city: {
                validators: {
                    notEmpty: {
                        message: 'The city is required and can\'t be empty.'
                    }
                }
            },
            state: {
                validators: {
                    notEmpty: {
                        message: 'The state is required and can\'t be empty.'
                    }
                }
            },
            streetAddress: {
                validators: {
                    notEmpty: {
                        message: 'The street address is required and can\'t be empty.'
                    },
           		 stringLength: {
	                     min: 1,
	                     max: 200,
	                     message: 'The UPB must be less than 200 characters long'
	            	 }
                }
            },
             upb:{
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 100,
	                     message: 'The UPB must be less than 100 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The upb is required and can\'t be empty.'
	                    }
             }},
             rate:{
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 100,
	                     message: 'The rate must be less than 100 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The rate is required and can\'t be empty.'
	                    }
             }},
             pdiPayment:{
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 100,
	                     message: 'The pdi payment must be less than 100 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The pdi payment is required and can\'t be empty.'
	                    }
             }},
             tdiPayment:{
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 100,
	                     message: 'The tdi payment must be less than 100 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The tdi payment is required and can\'t be empty.'
	                    }
             }},
             salesPrice:{
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 100,
	                     message: 'The sales price must be less than 100 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The sales price is required and can\'t be empty.'
	                    }
             }},
             originalPrincipalBal:{
            	 validators: {
            		 numeric: {
                         message: 'This value is not a valid number.',
                         // The default separators
                         thousandsSeparator: '',
                         decimalSeparator: '.'
                     },
            		 stringLength: {
	                     min: 1,
	                     max: 100,
	                     message: 'The original principal bal must be less than 100 characters long'
	            	 },
	            	 notEmpty: {
	                        message: 'The original principal balance is required and can\'t be empty.'
	                    }
             }}
           /*  captcha: {
                validators: {
                    callback: {
                        message: 'Wrong answer',
                        callback: function(value, validator) {
                            var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                            return value == sum;
                        }
                    }
                }
            } */
        }
    });

    // Validate the form manually
    $('#updateNoteBtn').click(function() {
        $('#noteDetailForm').bootstrapValidator('validate');
    });

    $('.closeall').click(function(){
    	  $('.panel-collapse.in')
    	    .collapse('hide');
    	});
    	$('.openall').click(function(){
    	  $('.panel-collapse:not(".in")')
    	    .collapse('show');
    	});
});
</script>
