<div>
	<div class="modal-header">
		<h3 class="modal-title">Note Detail</h3>
	</div>
	<div class="modal-body">

		<form name="noteInputForm">

			<div class="block">
				<label>TypeOfNote</label> <select style="margin-left: 4px;"
					ng-model="noteInputFormModel.typeOfNote"
					ng-options="noteType.label for noteType in noteTypeList"></select>
			</div>
			<div class="block">
				<label>Street Address</label> <input class="input" type="text"
					ng-model="noteInputFormModel.address" />
			</div>
			<div class="block">
				<label>City</label> <select style="margin-left: 4px;"
					ng-model="noteInputFormModel.typeOfNote"
					ng-options="noteType.label for noteType in noteTypeList"></select>
			</div>
			<div class="block">
				<label>State</label> <select style="margin-left: 4px;"
					ng-model="noteInputFormModel.typeOfNote"
					ng-options="noteType.label for noteType in noteTypeList"></select>
			</div>
			<div class="block">
				<label>ZipCode</label> <input class="input" type="text"
					ng-model="noteInputFormModel.address" />
			</div>
			<div class="block">
				<label>PropertyType</label> <select style="margin-left: 4px;"
					ng-model="noteInputFormModel.typeOfNote"
					ng-options="noteType.label for noteType in noteTypeList"></select>
			</div>
			
			<div class="block">
			<!-- <div flex-gt-xs>
			<label>DateOfNote</label>
      			<md-datepicker ng-model="noteInputFormModel.noteDate" md-placeholder="Enter date"></md-datepicker>
    		</div> -->
			</div>
			<div class="block">
				<label>UPB</label> <input class="input" type="text"
					ng-model="noteInputFormModel.upb" />
			</div>
			<div class="block">
				<label>Rate</label> <input class="input" type="text"
					ng-model="noteInputFormModel.rate" />
			</div>
			<div class="block">
				<label>PDI Payment</label> <input class="input" type="text"
					ng-model="noteInputFormModel.pdiPayment" />
			</div>
			<div class="block">
				<label>TDIPayment</label> <input class="input" type="text"
					ng-model="noteInputFormModel.tdiPayment" />
			</div>
			<div class="block">
				<label>Original Term</label> <input class="input" type="text"
					ng-model="noteInputFormModel.remainingTerm" />
			</div>
		</form>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">Save</button>
		<button class="btn btn-primary" ng-click="$close()">Cancel</button>
	</div>
</div>
